/* NOTE: create gradient here:  */
/* http://www.colorzilla.com/gradient-editor/ */

html {
  min-height: 100%;
  background-attachment: fixed;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68145c+0,604177+100 */
  background: #68145c; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #68145c 0%,
    #604177 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #68145c 0%,
    #604177 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #68145c 0%,
    #604177 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68145c', endColorstr='#604177',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-color: #ffffff38 !important;
}
